<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <connectionStrings>
    <add name="MySqlConnStr_MVCTest_RDS" connectionString="Server=rds5n95035s53i40c6m5o.mysql.rds.aliyuncs.com;Database=mvctest;User Id=qingwatianya;Password=qingwatianya101674;Port=3306;ConnectionTimeout=2000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
